/*<<form>
        <div class="form-bg-color">
            <i class="fa-solid fa-xmark"></i>
            <div class="form">
                <h2>Đăng nhập</h2>
                <div class="form-input">
                    <label for="email">Tên tài khoản hoặc địa chỉ email *</label>
                    <input type="text" placeholder="Email...">
                    <label for="password">Mật khẩu *</label>
                    <input type="password" placeholder="Password...">
                </div>
                <div class="flex">
                    <button>đăng nhập</button>
                    <a href="#">quên mật khẩu?</a>
                </div>

            </div>
        </div>
    </form>*/

body{
    position: relative;
    form{
        height: 100vh;
        // width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: rgba(#000, 1);

        .form-bg-color{
            background-color: rgba(#000, 1);
        }
        i{
            // position: absolute;
            top: 0;
        }
    
    }
}